
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.links {
    background-color: black;
    padding: 50px 10px;
    color: #fffff3;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    z-index: 10;
  }


body {
    background-color: black;
    background-repeat: repeat;
    margin: 0;
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;

}


a:link {
    color: #fffff3;
    background-color: transparent;
    text-decoration: none;
  }
 
  a:visited {
    color:#fffff3;
    background-color: transparent;
    text-decoration: none;
  }
 
  a:hover {
    color: #ef2917;
    background-color: transparent;
    text-decoration: underline;
  }
 
  a:active {
    color: #ef2917;
    background-color: transparent;
    text-decoration: underline;
  }


  .logo {
    padding: 0px 0;
    text-align: center;
    padding-bottom: 0;
    }


  .logo img {
    max-width: auto;
    width:100%;
}

/*About Section */

.about-container {
    position: relative;
    text-align: center;
    color: #fffff3;
}


.centered {
    position: absolute;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    max-width: 1000px;
   
}
h1 {
    color: #ef2917;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    color: #fffff3;
    text-align:center;
    font-size: 2em;
}

/* location */

.location-container {
  display: flex;
  text-align:center;
}

.text {
   flex: 1;
   width: 80%;
   float: left;
   padding-left: 50px;
   color:#fffff3;
   font-size: 1.5em;
}

.image {
   display : flex;
   justify-content: flex-end;
   align-items: center;
   
}

.image img {
   max-width: 100%;
   height: auto;
   padding-right: 60px;
   padding-bottom: 50px;
   padding-top: 100px;
}
@media (max-width: 900px) {
   .container {
     flex-direction: column;
   }
    .image {
      padding-top: 20px;
      justify-content: center;
   }
 }

/*Menu*/


.separator {
    display: flex;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color:#fffff3;
    padding-bottom: 20px;
  }
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #ef2917;
  }
  .separator:not(:empty)::before {
    margin-right: .25em;
    font-size: 50px;
  }
  .separator:not(:empty)::after {
    margin-left: .25em;
    font-size: 50px;
  }
 .menuheaders {
    border-bottom: 3px solid #fffff3;
    border-top: 3px solid #fffff3;
    border-left: 3px solid #fffff3;
    border-right: 3px solid #fffff3;
    padding-bottom: 10px;
    margin: 60px;
 }
 
 
 .menuheaders h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
 }
 .menuheaders p  {
    font-weight: medium;
    color:white;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 60px;
    max-width: 600px;
    font-size:x-large;
 }
 
 
 .container {
    display: flex;
  }
   .text {
    flex: 1;
    width: 80%;
    float: left;
  }
   .image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-top: 15px;
  }
   .image img {
    max-width: 100%;
    height: auto;
  }
   @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
     .image {
       padding-top: 20px;
       justify-content: center;
    }
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color:#fffff3;
  }
 
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #ef2917;
  }
 
  .separator:not(:empty)::before {
    margin-right: .25em;
    font-size: 50px;
  }
 
  .separator:not(:empty)::after {
    margin-left: .25em;
    font-size: 50px;
  }

/*reservation*/
  #reservation {
    font-size: 20px;
    color:#fffff3;
    text-align: center;
  }


#reservation_text{
    color:#fffff3;
    padding-left: 300px;
}




.name{
    color:#ef2917;
}



.pizza {
  display: flex;
  padding: 0;
  padding-bottom: 0;
  padding-top: -10px;
  justify-content: right;
  align-items: right;

  }

.pizza img {
  max-width: 500;
  width:30%;
  height:auto;
  max-width: 100%;
  height: auto;
  float:right;
  
 
 
}
@media (max-width: 900px) {
  .pizza {
    flex-direction: column;
  }
   .pizza img {
     padding-top: 20px;
     justify-content: right;
  }
}
/*contact*/

.row {
    background-color: black;
    position: relative;
    text-align: left;
    padding-left: 300px;
    color:#fffff3;
    font-size: large;
}

.column {
    float: left;
    width: 50%;
    padding-bottom: 50px;
}

 